<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this notebook", edit_notebook_path(@notebook) %> |
  <%= link_to "Back to notebooks", notebooks_path %>
</div>

<%= render @notebook %>

<br/>
<%= link_to "Add cell", new_notebook_cell_path(@notebook) %>
<br/>
<br/>

<div class="cell-wrapper">
  <% @notebook.cells.each do |cell| %>
    <div class="cell">
      <% if cell.cell_type == 0 %>
        <div>
          <%= button_to "Run cell", run_cell_notebook_cell_path(@notebook, cell), method: :post %>
          <br/>
          <pre><code><%= cell.content %></code></pre>
        </div>
      <% else %>
        <p><%= cell.content %></p>
      <% end %>

      <% if !cell.output.nil? && !cell.output.empty? %>
        <div class="output" style="max-height: 10rem; overflow: auto">
          <pre><code>&gt; <%= cell.output %></code></pre>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

