<div id="<%= dom_id cell %>">
  <p>
    <strong>Type:</strong>
    <%= cell.type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= cell.content %>
  </p>

  <p>
    <strong>Output:</strong>
    <%= cell.output %>
  </p>

  <p>
    <strong>Notebook:</strong>
    <%= cell.notebook_id %>
  </p>

</div>
